# This file itself
.gitignore

# Local mirror of the last push
_gitlast
# Older mirrors
_gitrepos

# Avoid duplicate initrc files
src/_init

# Vim swap and backup files
*.swp
*~
#  vim: syntax=conf
#  vim: set ts=2 sw=2 tw=80 et :
