# Local mirror of the last push
_gitlast
# Older mirrors
_gitrepos

# Avoid duplicate srcinit files
src/_init

# Vim swap and backup files
*.swp
*~

# 'script' leftovers
typescript
.gitlog.dummy

#  vim: syntax=conf
#  vim: set ts=2 sw=2 tw=80 et :
