# Local mirror of the last push
_gitlast
# Older mirrors
_gitrepos

# Unnecessary log files
_gitlast.log
_gitlast.log.raw

# .git from vim plugins
.vim/plugins/*/.git

# Vim swap and backup files
*.swp
*~

# 'script' leftovers
typescript
_gitlog.dummy

#  vim: syntax=conf
#  vim: set ts=2 sw=2 tw=80 et :
